header{
}
.mainbox{
  width: 50%;
  height: 500px;
  margin: 0 auto;
  margin-top: 1%;
  border: 1px solid black;
  margin-bottom: 1%;
}
.main{
  width: 60%;
  margin: 0 auto;
  padding-top: 1%;
}
form{
  margin-top: 20%;
}
.button{
  margin-top: 50%;
}